<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>Exception</title>
    <link rel="shortcut icon" href="{{ asset('img/errors/exception.svg') }}"/>
    <link rel="stylesheet" href="{{ asset('css/errors/exception.css') }}"/>
</head>

<body>
<header>
    <img src="{{ asset('img/fork.svg') }}" alt="Fork">
</header>
<main>
    <p>{{ exception }}</p>
    <a href="{{ route('home') }}">Retour à l'accueil</a>
</main>
</body>
</html>